<form class="form-horizontal" id="contactform">
    <fieldset>
        <legend>Edit Contact</legend>
        <div class="form-group">
            <label for="firstName" class="col-md-3 col-sm-4 control-label">First Name</label>
            <div class="col-md-9 col-sm-8">
                <input ng-model="contact.firstName" type="text" class="form-control" id="firstName" placeholder="First Name" required="">
            </div>      
        </div>
        <div class="form-group">
            <label for="lastName" class="col-md-3 col-sm-4 control-label">Last Name</label>
            <div class="col-md-9 col-sm-8">
                <input ng-model="contact.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" required="">
            </div>       
        </div>
        <div class="form-group">
            <label for="email" class="col-md-3 col-sm-4 control-label">Email address</label>
            <div class="col-md-9 col-sm-8">
                <input ng-model="contact.email" type="text" class="form-control" id="email" placeholder="email address">
            </div>
        </div>
        <div class="form-group">
            <label for="mobile" class="col-md-3 col-sm-4 control-label">Mobile</label>
            <div class="col-md-9 col-sm-8">
                <input ng-model="contact.mobile" type="text" class="form-control" id="mobile" placeholder="mobile phone">
            </div>       
        </div>
        <div class="form-group">
            <label for="workPhone" class="col-md-3 col-sm-4 control-label">Work phone</label>
            <div class="col-md-9 col-sm-8">
                <input ng-model="contact.workPhone" type="text" class="form-control" id="workPhone" placeholder="work phone">
            </div>       
        </div>
        <div class="form-group">
            <label for="homePhone" class="col-md-3 col-sm-4 control-label">Home phone</label>
            <div class="col-md-9 col-sm-8">
                <input ng-model="contact.homePhone" type="text" class="form-control" id="homePhone" placeholder="home phone">
            </div>       
        </div>
        <div class="alertContainer">
            <uib-alert ng-repeat='alert in alerts track by $index' type='{{alert.type}}' close='closeAlert($index,alert)' dismiss-on-timeout="{{alert.dismissOnTimeout}}"> {{alert.msg}} </uib-alert>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-4"></div>
            <div class="col-md-9 col-sm-8 form-buttons">
                <button ng-hide="user.privileges['entries/modify'].allowed" type="submit" ng-click="saveContact()" class="btn btn-success">Save changes</button>
                <button type="submit" ng-click="revertContact()" class="btn btn-info">Revert changes</button>
                <button type="submit" ng-click="deleteContact()" class="btn btn-danger">Delete contact</button>
            </div>
        </div>
    </fieldset>
</form>
