<div class="login-page page">
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">{{status.requirements.description}}</h2>
            <div ng-repeat="fieldName in status.requirements.required" ng-switch="fieldName">
                <input ng-switch-when="password" id="password" ng-model="input.password" type="password" class="form-control" placeholder="Password">
                <input ng-switch-when="password" id="password2" ng-model="input.password2" type="password" class="form-control" placeholder="Password again">
                <input ng-switch-when="code" id="code" ng-model="input[fieldName]" type="text" class="form-control" placeholder="{{status.requirements.properties[fieldName].description}}">
                <input ng-switch-default="" id="{{fieldName}}" ng-model="input[fieldName]" type="text" class="form-control" placeholder="{{status.requirements.properties[fieldName].description}}">
            </div>
            <div ng-class="{'alert-danger': error, 'alert-success': !error}" class="alert animated fadeIn message" ng-show="message">{{message}}</div>
            <div style="text-align: right">
            <a ui-sref="login">Back to login</a>
            <button ng-if="status.requirements" class="btn btn-large btn-primary" type="submit" ng-click="proceed()">Proceed</button>
            </div>
        </form>
    </div>
</div>